In [1]:
# Import necessary libraries
import sys
sys.path.append('../utils')
from connect_db import get_engine
from sqlalchemy import text, MetaData, Table, Column, Integer, String, DateTime, Boolean, ForeignKey, Text
from datetime import datetime
import pandas as pd

In [2]:
# Get database engine
engine = get_engine()
print("Connected to database!")

Connected to database!

In [3]:
# Create test table with id, name, created_at columns
names_df = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'created_at': [datetime.now(), datetime.now(), datetime.now()]
})

schools_df = pd.DataFrame({
    'id': [1, 2, 3],
    'school_name': ['School A', 'School B', 'School C'],
    'created_at': [datetime.now(), datetime.now(), datetime.now()]
})

In [4]:
names_df.to_sql('names', schema="test_1", con=engine, if_exists='replace', index=False)
schools_df.to_sql('schools', schema="test_2", con=engine, if_exists='replace', index=False)

3

In [5]:
names_append_df = pd.DataFrame({
    'id': [4, 5],
    'name': ['David', 'Eva'],
    'created_at': [datetime.now(), datetime.now()]
})

schools_append_df = pd.DataFrame({
    'id': [4, 5],
    'school_name': ['School D', 'School E'],
    'created_at': [datetime.now(), datetime.now()]
})

names_append_df.to_sql('names', schema="test_1", con=engine, if_exists='append', index=False)
schools_append_df.to_sql('schools', schema="test_2", con=engine, if_exists='append', index=False)

2

In [6]:
# import view called clients.test_join_2
with engine.connect() as conn:
    result = conn.execute(text("SELECT * FROM clients.test_join_2"))
    for row in result:
        print(row)

(1, 'Alice', datetime.datetime(2026, 1, 23, 21, 38, 28, 590630), 'School A')
(2, 'Bob', datetime.datetime(2026, 1, 23, 21, 38, 28, 590633), 'School B')
(3, 'Charlie', datetime.datetime(2026, 1, 23, 21, 38, 28, 590634), 'School C')
(4, 'David', datetime.datetime(2026, 1, 23, 21, 46, 1, 717612), 'School D')
(5, 'Eva', datetime.datetime(2026, 1, 23, 21, 46, 1, 717626), 'School E')